@import url(https://fonts.googleapis.com/css?family=Dancing+Script:regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Comic+Relief:regular,700);
@import url(https://fonts.googleapis.com/css?family=Kalam:300,regular,700);
html,
body {
  background-color: rgb(236, 236, 236);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}
#root {
  height: 100%;
}

.font {
  font-family: "Kalam", cursive;
}
.font2 {
  font-family: "Comic Relief", cursive;
}
